_pycache_
<img width="1000px" height="auto" src="https://capsule-render.vercel.app/api?type=waving&color=FF0000&height=120&section=header"/>
<!-- Cabeçalho alterado para vermelho -->

<h2 align="center">   <img height="40" src="https://user-images.githubusercontent.com/74038190/212257468-1e9a91f1-b626-4baa-b15d-5c385dfa7ed2.gif" alt="Arch Linux Icon"> Hello There 🖖🏻, I'm Pedro Arthur  </h2>
<h2 align="center"> <img height="40" src="https://i.gifer.com/ZbHZ.gif" alt="Ryuk neh pae"> About Me</h2>  
<div>
 <div align="center">
<img height="500"  src="https://media.tenor.com/d3lVKJ-It5IAAAAM/kokushibou.gif" align="right">
  </div>

[![Typing SVG](https://readme-typing-svg.demolab.com?font=Fira+Code&pause=1000&random=false&width=435&lines=Hello+There+%F0%9F%96%96%F0%9F%8F%BB!;I'm+a+beginner+programmer.;I'm+studying+Python+and+Java.)](https://git.io/typing-svg)  
<li style="color: white;">I’m just starting out in the world of programming and its technologies.</li>
<li style="color: white;">Passionate about physics, programming, and cartoons.</li>
<li style="color: white;">I’m currently enrolled in a technical and integrated IT course at <a href='https://ifpb.edu.br/'>IFPB</a> Campus Cajazeiras-PB.</li>

### - Learning :
-  Java
-  Python
-  Rust

### - Hobbies : 
-  Gaming 
-  Watching Anime
-  Reading HQ/Manga
-  Music
-  Competitive programming
<br>
<h2 align="center" style="color: #FF0000;">   Knowledge</h2>
<!-- Título alterado para vermelho -->

<p>
  <div align="center">
<img src="https://i.pinimg.com/originals/14/ed/c5/14edc5ed90f3f1a7990dfc8949e7dade.gif" align="right" style="border-radius: 15px;">
  </div>
</p>
<div>
  <br>
<p align="center"><img src="https://img.shields.io/badge/python%20-%232776D1.svg?&style=for-the-badge&logo=python&logoColor=white"/> <img src="https://img.shields.io/badge/java%20-%23007396.svg?&style=for-the-badge&logo=java&logoColor=white"/> <img src="https://img.shields.io/badge/rust%20-%23000000.svg?&style=for-the-badge&logo=rust&logoColor=white"/><br>
 <img src="https://img.shields.io/badge/vim%20-%23030A2D.svg?&style=for-the-badge&logo=vim&logoColor=white"/> <img src="https://img.shields.io/badge/bash%20-%23121011.svg?&style=for-the-badge&logo=gnu-bash&logoColor=white"/> <img src="https://img.shields.io/badge/low%20level%20programming-%23FFD700.svg?&style=for-the-badge"/><br>
 <img src="https://img.shields.io/badge/arch%20linux-%23000B4A.svg?&style=for-the-badge&logo=arch-linux&logoColor=white"/> <img src="https://img.shields.io/badge/assembly%20-%23A53F1A.svg?&style=for-the-badge&logo=assembly&logoColor=white"/><br><br>
I am passionate about low-level programming languages and spend a lot of time in Vim and the Bash terminal. Currently, I’m studying Python, Java and Rust.
</p>
<br>
<br>

<h2 align="center" style="color: #FF0000;">  Activity Graph</h2>
<!-- Título alterado para vermelho -->
<div style="width: 1000px">
  <img width="100%" height="auto" src="https://github-readme-activity-graph.vercel.app/graph?username=Pedro-Arthur13&bg_color=000000&color=FF0000&line=FF3333&point=FFF00F&area=true&hide_border=true">
</div>

<h2 align="center" style="color: #FF0000;">   
  <img height="20" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/archlinux/archlinux-original.svg" alt="Arch Linux Icon"> 
  I use Arch, btw.  
</h2>
<div>
<!-- Image Section -->
<div align="center">
 <p>
    <img height="292" width="520" align="right" src="https://preview.redd.it/0yzioemjybmc1.gif?width=500&auto=webp&s=685d21b562d519cba3de2c262e95864363991905" align="center" style="border-radius: 15px;">
 </p>
</div>

<!-- Stats Section -->
<img height="150" src="https://github-readme-stats.vercel.app/api/top-langs/?username=Pedro-Arthur13&theme=dark&langs_count=3&layout=donut" />


<img height="150" width="300" src="https://github-readme-stats.vercel.app/api?username=Pedro-Arthur13&include_all_commits=true&count_private=true&show_icons=true&theme=dark" />
<a href="https://leetcode.com/u/pedro-arthur13/" target="_blank">
  <img height="150" width="300"
    src="https://leetcard.jacoblin.cool/pedro-arthur13?theme=dark&font=Bowlby%20One&ext=contest"
    alt="LeetCode Profile"
  />
  
</a>

  <img align="right"  src="https://e.snmc.io/i/600/s/33d8abd22d2489ec363c2bfc87c77c46/10456680/arctic-monkeys-i-bet-you-look-good-on-the-dancefloor-Cover-Art.jpg" height="120">
  <img align="right" src="https://m.media-amazon.com/images/I/81x1drakpHS._UF1000,1000_QL80_.jpg" height="120">
  <img align="right" src="https://m.media-amazon.com/images/I/81sBKBIcwvL._UF1000,1000_QL80_.jpg" height="120">

</div>

<br>
<br>
<div align="center" >
   
</div>

<br>
<br>
<div align="center" >



 ![](github-user-contribution.svg)

 <div align="center"> <img src="https://media.tenor.com/Rp0U7bdOhSUAAAAj/anime.gif" alt="First GIF Icon" height="50" />
<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>  

![Visitor Count](https://profile-counter.glitch.me/Pedro-Arthur13/count.svg) 

</div>
 <img width=100% src="https://capsule-render.vercel.app/api?type=waving&color=FF0000&height=120&section=footer"/>